.belt-box {

    height: 90px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    background: #000;
 }

.belt-text {
    display: flex;
    align-items: center;       
    justify-content: center;   
    text-align: center;
    height: 120px;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    background: black;
    color: antiquewhite;
    letter-spacing: 2px;

    animation: powerGlow 4s ease-in-out infinite;
}

@keyframes powerGlow {
    0% {
        transform: scale(1);
        opacity: 0.85;
    }
    50% {
        transform: scale(1.045);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.85;

    }
}

@media(min-width:992px) and (max-width:1200px){
    .belt-text {
        font-size: 23px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .belt-text {
        font-size: 20px;
    }
}
@media(min-width:578px) and (max-width:767px){
    .belt-text {
        font-size: 17px;
    }
}
@media(min-width:400px) and (max-width:577px){
    .belt-text {
        font-size: 14px;
    }
}
@media(min-width:300px) and (max-width:399px){
    .belt-text {
        font-size: 11px;
    }
}

