.home-background-img {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../photo/Evon-hero-img.jpeg');
  background-size: cover;
  background-position: center;
    /* background-repeat: no-repeat; */
  overflow: hidden;
  repeat: no-repeat;
  object-fit: cover;
  margin-top: -80px;
  /* margin-bottom: 30px; */
    /* border-bottom: 2px solid #3a0000; */
      /* box-shadow:  2px 2px 6px #3a0000; */
}

.home-background-img::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%; /* jak ma być ciemniej – zwiększ np. do 50% */
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.99) 0%,   /* całkiem ciemny dół */
    rgba(0,0,0,0.0) 100%   /* przechodzi do pełnej przejrzystości */
  );
  z-index: 5;
  pointer-events: none;
}

.home-title{
    position: absolute;
    top:    50%;
    left:  50%;
    transform: translate(-50%,-50%);
    font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: #f5f5f5;
   text-shadow: 6px 6px 6px rgba(0,0,0,0.7);     
    z-index: 10;
}

@media( min-width: 992px ) and (max-width: 1199px) {
  .home-title{
    font-size: 3.5rem;
  }
}
@media( min-width: 768px ) and (max-width: 991px) {
  .home-title{
    font-size: 3rem;
  }
}
@media( min-width: 577px ) and (max-width: 767px) {
  .home-title{
    font-size: 3rem;
  }
    .home-background-img {
    background-position:-120px center; 
  }
}
@media( min-width: 300px ) and (max-width: 576px) {
  .home-title{
    font-size: 2rem;
  }
   .home-background-img {
    background-position: 30% center; 
  }
}